<header>
  <div class="side-rectangle">
    <div class="name">
      <h1>Austin Scott</h1>
      <h3>Developer</h3>
    </div>
  </div>
  <!-- <hr class="line1">
  <hr class="line2"> -->

  <div class="shade" #shade></div>
  <img class="menu" src="/assets/menu.png" alt="" (click)="toggleMenuView(this.menuDisplay)" #menu>
  <nav #navigation>
    <ul class="nav" #links>
      <li><a routerLink="about">About</a></li>
      <li><a routerLink="projects">Projects</a></li>
      <li><a routerLink="contact">Contact</a></li>
    </ul>
  </nav>
</header>


