.container {
  margin: 0 auto;
  width: 80%;
  display: flex;
  justify-content: space-between ;
  flex-wrap: wrap;
}

.back {
  display: flex;
  align-items: center;
}

.back-link {
  cursor: pointer;
}

.preview {
  width: 40%;
  min-width: 15rem;
}

.info {
  width: 50%;
}

button {
  background: none;
	color: inherit;
	font: inherit;
	cursor: pointer;
	outline: inherit;
  border-radius: 5px;
  border: 2px grey solid;
  padding: 0.75em;
  margin-right: 2rem;
}

button:hover{
  background-color: #f4f4f4;
}

a {
  color: black;
}

@media (max-width: 1200px) {
  .container {
    width: 95%;
  }

  .preview {
    width: 100%;
  }

  .info {
    width: 100%;
    margin-bottom: 3rem;
  }
}
