<div class="container">
  <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
    <div class="header-top"></div>
    <header>
      <div>
        <h3>Contact Me</h3>
        <p>Email: austin.scott.j@gmail.com</p>
      </div>
    </header>
    <div class="fields">
      <label for="name">Name:</label>
      <input type="text" id="name" formControlName="name">
      <br>

      <label for="email">Email:</label>
      <input type="text" id="email" formControlName="email">
      <br>

      <label for="subject">Subject:</label>
      <input type="text" id="subject" formControlName="subject">
      <br>

      <label for="message">Message:</label>
      <textarea type="text" id="message" formControlName="message"></textarea>
      <br>

      <div class="userMessage" #userMessage></div>

      <div class="button-container">
        <button type="submit" #sendButton>Send Message</button>
      </div>
    </div>
  </form>
</div>
